<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;500&family=IBM+Plex+Sans+Thai:wght@200&family=Mitr:wght@200&family=Noto+Serif+Thai&display=swap" rel="stylesheet">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
div{
	color: black;
	font-family: 'Athiti', sans-serif;
}
</style>
</head>
<!DOCTYPE html>
<html lang="en" layout:decorator="layout/default_layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="row mt-3">
            <div class="h1">ข้อมูลการยืมหนังสือ</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="container">
                    <form >

                        <div class="mb-3 row">
                            <label for="member_Id" class="col-sm-2 col-form-label">รหัสนักศึกษา</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="member_Id" placeholder="">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="book_Id" class="col-sm-2 col-form-label">รหัสหนังสือ</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="book_Id" placeholder="">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="dateborrow" class="col-sm-2 col-form-label">วันที่ยืม</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="dateborrow" placeholder="">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="closedate" class="col-sm-2 col-form-label">วันที่ครบกำหนดคืน</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="closedate" placeholder="">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="staff_Id" class="col-sm-2 col-form-label">รหัสผู้ให้ยืม</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="staff_Id" placeholder="">
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <div class="offset-sm-3 col-sm-10">
                                <button type="submit" class="btn btn-success">บันทึก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>